@layer base {
  :root {
    /* FONTS */
    --font-primary: 'Inter', sans-serif;

    /* SHADOWS */
    --shadow-modal-card: 0px 5px 12px 0px rgba(0, 0, 0, 0.1);

    /* general */
    --text-subtitle-size: 1.125rem;
    --text-subtitle--line-height: 1.625rem;
    --text-subtitle--font-weight: 400;
    --text-subtitle-emph--font-weight: 600;

    --text-body-size: 1rem;
    --text-body--line-height: 1.375rem;
    --text-body--font-weight: 400;
    --text-body-emph--font-weight: 600;

    --text-body-2-size: 0.875rem;
    --text-body-2--line-height: 1.125rem;
    --text-body-2--font-weight: 400;
    --text-body-2-emph--font-weight: 700;

    --text-caption-size: 0.8125rem;
    --text-caption--line-height: 1.125rem;
    --text-caption--font-weight: 400;
    --text-caption-emph--font-weight: 700;
    --text-caption-overline--font-weight: 800;

    --text-caption-xs-size: 0.6875rem;
    --text-caption-xs--line-height: 1rem;
    --text-caption-xs--font-weight: 400;

    /* desktop */
    --text-leading-desktop-size: 6rem;
    --text-leading-desktop--line-height: 6.875rem;
    --text-leading-desktop--font-weight: 900;

    --text-desktop-title-1-size: 3rem;
    --text-desktop-title-1--line-height: 3.5rem;
    --text-desktop-title-1--font-weight: 800;

    --text-desktop-title-2-size: 2.5rem;
    --text-desktop-title-2--line-height: 3.25rem;
    --text-desktop-title-2--font-weight: 700;

    --text-desktop-title-3-size: 2rem;
    --text-desktop-title-3--line-height: 2.25rem;
    --text-desktop-title-3--font-weight: 800;

    --text-desktop-title-4-size: 1.75rem;
    --text-desktop-title-4--line-height: 2.125rem;
    --text-desktop-title-4--font-weight: 700;

    --text-desktop-title-5-size: 1.4375rem;
    --text-desktop-title-5--line-height: 1.75rem;
    --text-desktop-title-5--font-weight: 700;

    --text-desktop-title-6-size: 1.25rem;
    --text-desktop-title-6--line-height: 1.5rem;
    --text-desktop-title-6--font-weight: 500;
    --text-desktop-title-6-emph--font-weight: 700;

    /* mobile */
    --text-leading-mobile-size: 2rem;
    --text-leading-mobile--line-height: 2.375rem;
    --text-leading-mobile--font-weight: 900;

    --text-mobile-title-1-size: 2rem;
    --text-mobile-title-1--line-height: 2.5rem;
    --text-mobile-title-1--font-weight: 900;

    --text-mobile-title-2-size: 1.75rem;
    --text-mobile-title-2--line-height: 2.25rem;
    --text-mobile-title-2--font-weight: 900;

    --text-mobile-title-3-size: 1.5rem;
    --text-mobile-title-3--line-height: 1.875rem;
    --text-mobile-title-3--font-weight: 800;

    --text-mobile-title-4-size: 1.375rem;
    --text-mobile-title-4--line-height: 1.75rem;
    --text-mobile-title-4--font-weight: 800;

    --text-mobile-title-5-size: 1.1875rem;
    --text-mobile-title-5--line-height: 1.5rem;
    --text-mobile-title-5--font-weight: 700;

    --text-mobile-title-6-size: 1.125rem;
    --text-mobile-title-6--line-height: 1.375rem;
    --text-mobile-title-6--font-weight: 500;
    --text-mobile-title-6-emph--font-weight: 700;

    /* Component fonts  */
    --text-input-label-size: 1rem;
    --text-input-label--line-height: 1.125rem;
    --text-input-label--font-weight: 400;

    --text-input-helper-text-size: 1rem;
    --text-input-helper-text--line-height: 1.125rem;
    --text-input-helper-text--font-weight: 400;

    --text-input-lg-size: 1rem;
    --text-input-lg--line-height: 1.125rem;
    --text-input-lg--font-weight: 400;

    --text-input-sm-size: 0.875rem;
    --text-input-sm--line-height: 1rem;
    --text-input-sm--font-weight: 400;

    --text-avatar-letter-size: 1rem;
    --text-avatar-letter--line-height: 1.125rem;
    --text-avatar-letter--font-weight: 400;

    --text-alert-title-size: 1.125rem;
    --text-alert-title--line-height: 1.25rem;
    --text-alert-title--font-weight: 600;

    --text-chip-badge-size: 1rem;
    --text-chip-badge--line-height: 1.125rem;
    --text-chip-badge--font-weight: 600;

    --text-chip-sm-size: 0.875rem;
    --text-chip-sm--line-height: 1rem;
    --text-chip-sm--font-weight: 600;

    --text-badge-sm-size: 0.875rem;
    --text-badge-sm--line-height: 1rem;
    --text-badge-sm--font-weight: 600;

    /* COLORS */
    --color-primary: #3758f9;
    --color-primary-light: #5f79fa;
    --color-primary-dark: #263dae;
    --color-primary-contrast-text: #ffffff;

    --color-secondary: #13c296;
    --color-secondary-light: #42ceab;
    --color-secondary-dark: #0d8769;
    --color-secondary-contrast-text: #ffffff;

    --color-state-primary-hover: #3758f914;
    --color-state-primary-50: #3758f97f;

    --color-state-secondary-hover: #13c29614;
    --color-state-secondary-50: #13c2967f;

    --color-text-primary: #212e45;
    --color-text-secondary: #212e45cc;
    --color-text-disabled: #212e4572;

    --color-action-active: #00000099;
    --color-action-hover: #00000014;
    --color-action-selected: #00000014;
    --color-action-disabled: #00000042;
    --color-action-disabled-bg: #0000001e;
    --color-action-stroke: #00000026;

    --color-bg-white-bg: #ffffff;
    --color-bg-light-grey: #f5f5f7;
    --color-bg-blue-grey: #f5f5f7;
    --color-bg-dark-blue-grey: #6d7580;
    --color-bg-tooltip: #323232;
    --color-bg-dark: #323232;

    --color-common-black: #000000;
    --color-common-white: #ffffff;

    --color-os-divider: #0000001e;
    --color-os-outline-border: #0000003a;
    --color-os-standard-input-line: #0000006b;
    --color-os-filled-input-bg: #0000000f;
    --color-os-filled-input-disabled-background: #0000000a;
    --color-os-backdrop-overlay: #0000007f;
    --color-os-snackbar-bg: #323232;
    --color-os-button-outline-action-border: #dfe4ea;

    --color-error-main: #f23030;
    --color-error-light: #f45959;
    --color-error-dark: #a92121;
    --color-error-contrast-text: #ffffff;
    --color-error-state-hover-opacity: #f2303014;
    --color-error-state-selected-opacity: #f2303014;
    --color-error-state-main-50: #f230307f;

    --color-warning-main: #f7c12e;
    --color-warning-light: #f8cd57;
    --color-warning-dark: #a27d17;
    --color-warning-contrast-text: #000000dd;
    --color-warning-state-hover-opacity: #f7c12e14;
    --color-warning-state-selected-opacity: #f7c12e14;
    --color-warning-state-main-50: #f7c12e7f;

    --color-success-main: #0e9948;
    --color-success-light: #3ead6c;
    --color-success-dark: #096b32;
    --color-success-contrast-text: #ffffff;
    --color-success-state-hover-opacity: #0e994814;
    --color-success-state-selected-opacity: #0e994814;
    --color-success-state-main-50: #0e99487f;

    --color-info-main: #25acf7;
    --color-info-light: #50bcf8;
    --color-info-dark: #1978ac;
    --color-info-contrast-text: #ffffff;
    --color-info-state-hover-opacity: #25acf714;
    --color-info-state-selected-opacity: #25acf714;
    --color-info-state-main-50: #25acf77f;

    --color-primary-opacity-4: #3758f90a;
    --color-primary-opacity-8: #3758f914;
    --color-primary-opacity-12: #3758f91e;
    --color-primary-opacity-16: #3758f928;
    --color-primary-opacity-20: #3758f933;
    --color-primary-opacity-24: #3758f93d;
    --color-primary-opacity-32: #3758f951;
    --color-primary-opacity-40: #3758f966;
    --color-primary-opacity-50: #3758f97f;
    --color-primary-opacity-70: #3758f9b2;

    --color-primary-filled-50: #edeeff;
    --color-primary-filled-100: #cacefe;
    --color-primary-filled-200: #a5affe;
    --color-primary-filled-300: #7d8ffe;
    --color-primary-filled-400: #5b73fc;
    --color-primary-filled-500: #3758f9;
    --color-primary-filled-600: #324eed;
    --color-primary-filled-700: #2543e0;
    --color-primary-filled-800: #1937d5;
    --color-primary-filled-900: #001dc4;

    --color-secondary-opacity-4: #13c2960a;
    --color-secondary-opacity-8: #13c29614;
    --color-secondary-opacity-12: #13c2961e;
    --color-secondary-opacity-16: #13c29628;
    --color-secondary-opacity-20: #13c29633;
    --color-secondary-opacity-24: #13c2963d;
    --color-secondary-opacity-32: #13c29651;
    --color-secondary-opacity-40: #13c29666;
    --color-secondary-opacity-50: #13c2967f;
    --color-secondary-opacity-70: #13c296b2;

    --color-secondary-filled-50: #dcf5ed;
    --color-secondary-filled-100: #aae5d2;
    --color-secondary-filled-200: #6fd4b4;
    --color-secondary-filled-300: #13c296;
    --color-secondary-filled-400: #00b480;
    --color-secondary-filled-500: #00a46e;
    --color-secondary-filled-600: #009662;
    --color-secondary-filled-700: #008652;
    --color-secondary-filled-800: #007545;
    --color-secondary-filled-900: #00582a;

    --color-action-4: #0000000a;
    --color-action-8: #00000014;
    --color-action-12: #0000001f;
    --color-action-16: #00000029;
    --color-action-20: #00000033;
    --color-action-24: #0000003d;
    --color-action-32: #00000052;
    --color-action-40: #00000066;

    --color-error-4: #f230300a;
    --color-error-8: #f2303014;
    --color-error-12: #f230301e;
    --color-error-16: #f2303028;
    --color-error-20: #f2303033;
    --color-error-24: #f230303d;
    --color-error-32: #f2303051;
    --color-error-40: #f2303066;
    --color-error-50: #f230307f;

    --color-warning-4: #f7c12e0a;
    --color-warning-8: #f7c12e14;
    --color-warning-12: #f7c12e1e;
    --color-warning-16: #f7c12e28;
    --color-warning-20: #f7c12e33;
    --color-warning-24: #f7c12e3d;
    --color-warning-32: #f7c12e51;
    --color-warning-40: #f7c12e66;
    --color-warning-50: #f7c12e7f;

    --color-success-4: #06a77e0a;
    --color-success-8: #06a77e14;
    --color-success-12: #06a77e1e;
    --color-success-16: #06a77e28;
    --color-success-20: #06a77e33;
    --color-success-24: #06a77e3d;
    --color-success-32: #06a77e51;
    --color-success-40: #06a77e66;
    --color-success-50: #06a77e7f;

    --color-info-4: #25acf70a;
    --color-info-8: #25acf714;
    --color-info-12: #25acf71e;
    --color-info-16: #25acf728;
    --color-info-20: #25acf733;
    --color-info-24: #25acf73d;
    --color-info-32: #25acf751;
    --color-info-40: #25acf766;
    --color-info-50: #25acf77f;

    /* Material */
    --color-material-blue-grey-a400: #78909c;
    --color-material-blue-grey-a700: #455a64;
    --color-material-blue-grey-a200: #b0bec5;
    --color-material-blue-grey-a100: #cfd8dc;
    --color-material-blue-grey-900: #263238;
    --color-material-blue-grey-800: #37474f;
    --color-material-blue-grey-700: #455a64;
    --color-material-blue-grey-600: #546e7a;
    --color-material-blue-grey-500: #607d8b;
    --color-material-blue-grey-400: #78909c;
    --color-material-blue-grey-300: #90a4ae;
    --color-material-blue-grey-200: #b0bec5;
    --color-material-blue-grey-100: #cfd8dc;
    --color-material-blue-grey-50: #eceff1;

    --color-material-red-a700: #d2294b;
    --color-material-red-a400: #d2294b;
    --color-material-red-a200: #ff5252;
    --color-material-red-a100: #ff8a80;
    --color-material-red-900: #d2294b;
    --color-material-red-800: #cc0000;
    --color-material-red-700: #d90a0a;
    --color-material-red-600: #e53935;
    --color-material-red-500: #f92e0a;
    --color-material-red-400: #f54335;
    --color-material-red-300: #ed6860;
    --color-material-red-200: #f6938c;
    --color-material-red-100: #ffc9cb;
    --color-material-red-50: #ffe9eb;

    --color-material-pink-a700: #c51162;
    --color-material-pink-a400: #f50057;
    --color-material-pink-a200: #ff4081;
    --color-material-pink-a100: #ff80ab;
    --color-material-pink-900: #861340;
    --color-material-pink-800: #a91d45;
    --color-material-pink-700: #bd2348;
    --color-material-pink-600: #d2294b;
    --color-material-pink-500: #e22e4c;
    --color-material-pink-400: #e84664;
    --color-material-pink-300: #ee647f;
    --color-material-pink-200: #f48fa2;
    --color-material-pink-100: #f9bbc7;
    --color-material-pink-50: #fce4ec;

    --color-material-purple-a700: #aa00ff;
    --color-material-purple-a400: #d500f9;
    --color-material-purple-a200: #e040fb;
    --color-material-purple-a100: #ea80fc;
    --color-material-purple-900: #470399;
    --color-material-purple-800: #6a08a5;
    --color-material-purple-700: #7d0bac;
    --color-material-purple-600: #910fb3;
    --color-material-purple-500: #a110b9;
    --color-material-purple-400: #ae3dc4;
    --color-material-purple-300: #bd62ce;
    --color-material-purple-200: #d090dc;
    --color-material-purple-100: #e2bcea;
    --color-material-purple-50: #f3e5f5;

    --color-material-deep-purple-900: #5f30e2;
    --color-material-deep-purple-800: #291dcd;
    --color-material-deep-purple-700: #4023d3;
    --color-material-deep-purple-600: #532bdc;
    --color-material-deep-purple-500: #5f30e2;
    --color-material-deep-purple-400: #7c51e7;
    --color-material-deep-purple-300: #9672ec;
    --color-material-deep-purple-200: #b59cf1;
    --color-material-deep-purple-100: #d3c3f6;
    --color-material-deep-purple-50: #eee7fb;
    --color-material-deep-purple-a100: #b388ff;
    --color-material-deep-purple-a200: #7c4dff;
    --color-material-deep-purple-a400: #651fff;
    --color-material-deep-purple-a700: #6200ea;

    --color-material-indigo-900: #001ac2;
    --color-material-indigo-800: #0026cc;
    --color-material-indigo-700: #192cd2;
    --color-material-indigo-600: #3833db;
    --color-material-indigo-500: #4737e1;
    --color-material-indigo-400: #6c55e6;
    --color-material-indigo-300: #8a74eb;
    --color-material-indigo-200: #ad9cf0;
    --color-material-indigo-100: #cec4f5;
    --color-material-indigo-50: #ece7fb;
    --color-material-indigo-a100: #8c9eff;
    --color-material-indigo-a200: #536dfe;
    --color-material-indigo-a400: #3d5afe;
    --color-material-indigo-a700: #304ffe;

    --color-material-blue-900: #0d47a1;
    --color-material-blue-800: #1565c0;
    --color-material-blue-700: #1976d2;
    --color-material-blue-600: #1e88e5;
    --color-material-blue-500: #2196f3;
    --color-material-blue-400: #42a5f5;
    --color-material-blue-300: #64b5f6;
    --color-material-blue-200: #90caf9;
    --color-material-blue-100: #bbdefb;
    --color-material-blue-50: #e3f2fd;
    --color-material-blue-a100: #82b1ff;
    --color-material-blue-a200: #448aff;
    --color-material-blue-a400: #2979ff;
    --color-material-blue-a700: #2962ff;

    --color-material-light-blue-900: #01579b;
    --color-material-light-blue-800: #0277bd;
    --color-material-light-blue-700: #0288d1;
    --color-material-light-blue-600: #039be5;
    --color-material-light-blue-500: #03a9f4;
    --color-material-light-blue-400: #29b6f6;
    --color-material-light-blue-300: #4fc3f7;
    --color-material-light-blue-200: #81d4fa;
    --color-material-light-blue-100: #b3e5fc;
    --color-material-light-blue-50: #e1f5fe;
    --color-material-light-blue-a100: #80d8ff;
    --color-material-light-blue-a200: #40c4ff;
    --color-material-light-blue-a400: #00b0ff;
    --color-material-light-blue-a700: #0091ea;

    --color-material-cyan-900: #006064;
    --color-material-cyan-800: #00838f;
    --color-material-cyan-700: #0097a7;
    --color-material-cyan-600: #00acc1;
    --color-material-cyan-500: #00bcd4;
    --color-material-cyan-400: #26c6da;
    --color-material-cyan-300: #4dd0e1;
    --color-material-cyan-200: #80deea;
    --color-material-cyan-100: #b2ebf2;
    --color-material-cyan-50: #e0f7fa;
    --color-material-cyan-a100: #84ffff;
    --color-material-cyan-a200: #18ffff;
    --color-material-cyan-a400: #00e5ff;
    --color-material-cyan-a700: #00b8d4;

    --color-material-teal-900: #004d40;
    --color-material-teal-800: #00695c;
    --color-material-teal-700: #00796b;
    --color-material-teal-600: #00897b;
    --color-material-teal-500: #009688;
    --color-material-teal-400: #26a69a;
    --color-material-teal-300: #4db6ac;
    --color-material-teal-200: #80cbc4;
    --color-material-teal-100: #b2dfdb;
    --color-material-teal-50: #e0f2f1;
    --color-material-teal-a100: #a7ffeb;
    --color-material-teal-a200: #64ffda;
    --color-material-teal-a400: #1de9b6;
    --color-material-teal-a700: #00bfa5;

    --color-material-green-900: #1b5e20;
    --color-material-green-800: #2e7d32;
    --color-material-green-700: #388e3c;
    --color-material-green-600: #43a047;
    --color-material-green-500: #4caf50;
    --color-material-green-400: #66bb6a;
    --color-material-green-300: #81c784;
    --color-material-green-200: #a5d6a7;
    --color-material-green-100: #c8e6c9;
    --color-material-green-50: #e8f5e9;
    --color-material-green-a100: #b9f6ca;
    --color-material-green-a200: #69f0ae;
    --color-material-green-a400: #46da83;
    --color-material-green-a700: #00c853;

    --color-material-light-green-900: #33691e;
    --color-material-light-green-800: #558b2f;
    --color-material-light-green-700: #689f38;
    --color-material-light-green-600: #7cb342;
    --color-material-light-green-500: #8bc34a;
    --color-material-light-green-400: #9ccc65;
    --color-material-light-green-300: #aed581;
    --color-material-light-green-200: #c5e1a5;
    --color-material-light-green-100: #dcedc8;
    --color-material-light-green-50: #f1f8e9;
    --color-material-light-green-a100: #ccff90;
    --color-material-light-green-a200: #b2ff59;
    --color-material-light-green-a400: #76ff03;
    --color-material-light-green-a700: #64dd17;

    --color-material-lime-900: #827717;
    --color-material-lime-800: #9e9d24;
    --color-material-lime-700: #afb42b;
    --color-material-lime-600: #c0ca33;
    --color-material-lime-500: #cddc39;
    --color-material-lime-400: #d4e157;
    --color-material-lime-300: #dce775;
    --color-material-lime-200: #e6ee9c;
    --color-material-lime-100: #f0f4c3;
    --color-material-lime-50: #f9fbe7;
    --color-material-lime-a100: #f4ff81;
    --color-material-lime-a200: #eeff41;
    --color-material-lime-a400: #c6ff00;
    --color-material-lime-a700: #aeea00;

    --color-material-yellow-900: #f57f17;
    --color-material-yellow-800: #f9a825;
    --color-material-yellow-700: #fbc02d;
    --color-material-yellow-600: #fdd835;
    --color-material-yellow-500: #ffeb3b;
    --color-material-yellow-400: #ffee58;
    --color-material-yellow-300: #fff176;
    --color-material-yellow-200: #fff59d;
    --color-material-yellow-100: #fff9c4;
    --color-material-yellow-50: #fffde7;
    --color-material-yellow-a100: #ffff8d;
    --color-material-yellow-a200: #ffff00;
    --color-material-yellow-a400: #ffea00;
    --color-material-yellow-a700: #ffd600;

    --color-material-amber-900: #ff6f00;
    --color-material-amber-800: #ff8f00;
    --color-material-amber-700: #ffa000;
    --color-material-amber-600: #ffb300;
    --color-material-amber-500: #ffc107;
    --color-material-amber-400: #ffca28;
    --color-material-amber-300: #ffd54f;
    --color-material-amber-200: #ffe082;
    --color-material-amber-100: #ffecb3;
    --color-material-amber-50: #fff8e1;
    --color-material-amber-a100: #ffe57f;
    --color-material-amber-a200: #ffd740;
    --color-material-amber-a400: #ffc400;
    --color-material-amber-a700: #ffab00;

    --color-material-orange-900: #e65100;
    --color-material-orange-800: #ef6c00;
    --color-material-orange-700: #f57c00;
    --color-material-orange-600: #fb8c00;
    --color-material-orange-500: #ff9800;
    --color-material-orange-400: #ffa726;
    --color-material-orange-300: #ffb74d;
    --color-material-orange-200: #ffcc80;
    --color-material-orange-100: #ffe0b2;
    --color-material-orange-50: #fff3e0;
    --color-material-orange-a100: #ffd180;
    --color-material-orange-a200: #ffab40;
    --color-material-orange-a400: #ff9100;
    --color-material-orange-a700: #ff6d00;

    --color-material-deep-orange-900: #bf360c;
    --color-material-deep-orange-800: #d84315;
    --color-material-deep-orange-700: #e64a19;
    --color-material-deep-orange-600: #f4511e;
    --color-material-deep-orange-500: #ff5722;
    --color-material-deep-orange-400: #ff7043;
    --color-material-deep-orange-300: #ff8a65;
    --color-material-deep-orange-200: #ffab91;
    --color-material-deep-orange-100: #ffccbc;
    --color-material-deep-orange-50: #fbe9e7;
    --color-material-deep-orange-a100: #ff9e80;
    --color-material-deep-orange-a200: #ff6e40;
    --color-material-deep-orange-a400: #ff3d00;
    --color-material-deep-orange-a700: #dd2c00;

    --color-material-brown-900: #3e2723;
    --color-material-brown-800: #4e342e;
    --color-material-brown-700: #5d4037;
    --color-material-brown-600: #6d4c41;
    --color-material-brown-500: #795548;
    --color-material-brown-400: #8d6e63;
    --color-material-brown-300: #a1887f;
    --color-material-brown-200: #bcaaa4;
    --color-material-brown-100: #d7ccc8;
    --color-material-brown-50: #efebe9;
    --color-material-brown-a100: #d7ccc8;
    --color-material-brown-a200: #bcaaa4;
    --color-material-brown-a400: #8d6e63;
    --color-material-brown-a700: #5d4037;

    --color-material-grey-900: #212121;
    --color-material-grey-800: #424242;
    --color-material-grey-700: #616161;
    --color-material-grey-600: #757575;
    --color-material-grey-500: #9e9e9e;
    --color-material-grey-400: #bdbdbd;
    --color-material-grey-300: #e0e0e0;
    --color-material-grey-200: #eeeeee;
    --color-material-grey-100: #f5f5f5;
    --color-material-grey-50: #fafafa;
    --color-material-grey-a100: #f5f5f5;
    --color-material-grey-a200: #eeeeee;
    --color-material-grey-a400: #bdbdbd;
    --color-material-grey-a700: #616161;

    --color-material-bp-red: #d2294b;
    --color-material-bp-red-light: #ffc9cb;

    --color-material-bp-purple-light: #e2bcea;
    --color-material-bp-purple: #910fb3;

    --color-material-bp-blue-light: #bbdefb;
    --color-material-bp-blue: #1e88e5;

    --color-material-bp-cyan-light: #b2ebf2;
    --color-material-bp-cyan: #00acc1;

    --color-material-bp-teal-light: #b2dfdb;
    --color-material-bp-teal: #00897b;

    --color-material-bp-orange-light: #ffe0b2;
    --color-material-bp-orange: #fb8c00;

    --color-material-bp-deep-purple: #532bdc;
    --color-material-bp-deep-purple-light: #d3c3f6;

    --color-material-bp-green-light: #c8e6c9;
    --color-material-bp-green: #43a047;

    --color-material-bp-amber-light: #ffecb3;
    --color-material-bp-amber: #ffb300;

    /* Components */
    /* Button */
    --spacing-btn-lg-vertical-padding: 1rem;
    --spacing-btn-lg-horizontal-padding: 1.5rem;
    --radius-btn-lg: 0.25rem;
    --text-button-lg-size: 1rem;
    --text-button-lg--line-height: 1.375rem;
    --text-button-lg--font-weight: 700;

    --spacing-btn-md-vertical-padding: 0.75rem;
    --spacing-btn-md-horizontal-padding: 1.25rem;
    --radius-btn-md: 0.25rem;
    --text-button-md-size: 0.875rem;
    --text-button-md--line-height: 1.125rem;
    --text-button-md--font-weight: 600;

    --spacing-btn-ms-vertical-padding: 0.5rem;
    --spacing-btn-ms-horizontal-padding: 1rem;
    --radius-btn-ms: 0.25rem;

    --spacing-btn-sm-vertical-padding: 0.375rem;
    --spacing-btn-sm-horizontal-padding: 0.625rem;
    --radius-btn-sm: 0.125rem;
    --text-button-sm-size: 0.875rem;
    --text-button-sm--line-height: 1.125rem;
    --text-button-sm--font-weight: 600;

    --btn-outlined-border-width: 0.0625rem;

    /* Icon Button */
    --spacing-icon-btn-lg-vertical-padding: 1rem;
    --spacing-icon-btn-lg-horizontal-padding: 1rem;
    --radius-icon-btn-lg: 0.25rem;

    --spacing-icon-btn-md-vertical-padding: 0.75rem;
    --spacing-icon-btn-md-horizontal-padding: 0.75rem;
    --radius-icon-btn-md: 0.25rem;

    --spacing-icon-btn-ms-vertical-padding: 0.5rem;
    --spacing-icon-btn-ms-horizontal-padding: 0.5rem;
    --radius-icon-btn-ms: 0.25rem;

    --spacing-icon-btn-sm-vertical-padding: 0.375rem;
    --spacing-icon-btn-sm-horizontal-padding: 0.375rem;
    --radius-icon-btn-sm: 0.125rem;

    --spacing-icon-btn-xs-vertical-padding: 0.1875rem;
    --spacing-icon-btn-xs-horizontal-padding: 0.1875rem;
    --radius-icon-btn-xs: 0.125rem;

    --icon-btn-outlined-border-width: 0.0625rem;

    /* Input */
    --spacing-input-dense-horizontal-padding: 0.625rem;
    --radius-dense-input: 0.25rem;

    --spacing-input-lg-horizontal-padding: 0.75rem;
    --radius-lg-input: 0.375rem;

    /* Tabs */
    --radius-tabs-list-md: 0.75rem;
    --radius-tabs-item-md: 0.75rem;

    --radius-tabs-list-sm: 0.5rem;
    --radius-tabs-item-sm: 0.5rem;

    /* Badge */
    --spacing-badge-default-vertical-padding: 0.5rem;
    --spacing-badge-default-horizontal-padding: 0.675rem;
    --radius-badge-default: 0.375rem;

    --spacing-badge-dense-vertical-padding: 0.25rem;
    --spacing-badge-dense-horizontal-padding: 0.5rem;
    --radius-badge-dense: 0.25rem;
  }
}
